{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-area bg-1 text-center overly">
    <div style="color: white ; font-size:35px; font-weight:bold">
        Designed For Cart, <br>Engineered To Last.
    </div>
    <!-- Container Start -->
    <div class="container">
        <div class="row">
        
            <div class="col-md-12">
                <!-- Advance Search -->
                
                <div class="advance-search">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-12 align-content-center">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-7">
                                            <input type="text" class="form-control my-2 my-lg-1" id="inputtext4"
                                                placeholder="Enter your product name for search">
                                        </div>
                                        
                                        <div class="form-group col-md-2 align-self-center">
                                            <button type="submit" class="btn btn-primary">Search Now</button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Trending Adds</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- offer 01 -->
            <div class="col-lg-12">
                <div class="trending-ads-slide">
                    
                        <div class="col-sm-12 col-lg-4">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price"></div>
                                        <a href="#">
                                            <img class="card-img-top img-fluid" src="#" alt="Card image cap" style="height:300px">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="#"></a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-folder-open-o"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}