{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title">Hp Dual Core 2gb Ram-Slim Laptop Available In Very Low Price</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">Electronics</a></li>
                        </ul>
                    </div>
    
                <!-- product slider -->
                    <div class="product">
                        <div class="">
                            <div class="product-slider-item my-4 " aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00"
                                style="width: 730px;">
                                <img class="img-fluid w-100" src="{{product.image.url}}" alt="product-img">
                            </div>
                        </div>
                    </div>
                    <!-- product slider -->
    
                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link show active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                    role="tab" aria-controls="pills-home" aria-selected="true">Product Details</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade active show" id="pills-home" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">Product Description</h3>
    
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>Price</h4>
                        <p>$230</p>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <ul class="list-inline mt-20">
                            <li class="list-inline-item"><a href=""
                                    class="btn btn-contact d-inline-block  btn-primary px-lg-5 my-1 px-md-3">Add To Cart</a>
                            </li>
                            <li class="list-inline-item"><a href="" class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">Buy Now</a></li>
                        </ul>
                    </div>
                    <!-- Map Widget -->
    
                </div>
            </div>
    
        </div>
    </div>
{% endblock content %}
